/* |---------------------1.Reset e Estilos Globais----------------------| */

/* Reset Padrão da Página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define a imagem de fundo para todo o site */
body {
    background-image: url('../assets/Fundo_Site_Barber.png'); /* Coloque o caminho da sua imagem aqui */
    background-size: cover; /* Faz a imagem cobrir toda a área do site */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    color: white; /* Mantém a cor do texto em branco */
}


/* |---------------------2.Logo e Slider-------------------------------| */

/* Estilo para a logo no meio do slide */
.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

.logo img {
    max-width: 400px; /* Ajuste o tamanho da logo */
}

/* Define o tamanho e posicionamento do slider */
.slider {
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Configura o contêiner das slides para exibição em linha e animação */
.slides {
    display: flex; 
    transition: transform 0.6s ease-in-out; 
    height: 100%; 
    margin: 0;
    padding: 0;
}

/* Define o tamanho e alinhamento das slides individuais */
.slide {
    min-width: 100vw; 
    height: 100vh; 
    position: relative;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Estiliza as imagens dentro das slides */
.slide img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; 
    box-shadow: inset 0px -10px 20px rgba(0, 0, 0, 0.8);
    pointer-events: none; 
}

/* |---------------------3.Botões de Navegação---------------------------| */

/* Estilo dos botões de navegação do slider */
button {
    top: 50%; 
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, 0.356); 
    color: white;
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 24px;
    z-index: 100;
}

/* Estilo dos botões de navegação "anterior" e "próximo" */
.prev {
    position: absolute;
    left: 10px;
}

.next {
    position: absolute;
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* |---------------------4.Botões e Barra de Navegação-------------------| */

/* Estilo dos botões dentro do contêiner */
.btn {
    margin: 0 10px; 
    border-radius: 10px;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
}

/* Estilo da barra de navegação */
.navbar-nav {
    display: flex; 
    align-items: center;
}

/* Estilo dos botões na barra de navegação Login / Cadastro*/
.nav-item button {
    color: white; 
    background-color: rgb(255, 199, 89);
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    margin-right: 8px;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilo dos links dentro dos botões */
.nav-item button a {
    color: black; /* Cor do texto do link */
    font-weight: bold; /* Texto em negrito */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Estilo dos botões na barra de navegação ao passar o mouse */
.nav-item button:hover {
    background-color: rgb(173, 121, 15); /* Cor de fundo mais escura no hover */
}

/* Estilo para a parte esquerda da barra de navegação */
.navbar-nav-left {
    display: flex;
    flex-grow: 1; /* Permite que o container ocupe o espaço disponível */
}

/* Estilo para a parte direita da barra de navegação */
.navbar-nav-right {
    display: flex;
    margin-left: auto; /* Alinha à direita */
    margin-top: 30px;
}

/* Estilo da barra de navegação personalizada */
.custom-navbar {
    background-color: #111111; /* Substitua #333 pela cor desejada */
    padding: 0.5rem 1rem;
}       

.custom-navbar .container-fluid {
    padding: 0; /* Remove o padding do container se necessário */
}

.custom-navbar .navbar-nav {
    margin-left: auto; /* Garante que os itens sejam alinhados corretamente */
}

.custom-navbar .nav-item {
    margin: -1px; /* Remove o margin se necessário */
}

#Home_BNT {
    font-size: larger;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
}

/* |---------------------5.Sobre o Barbeiro------------------------------| */

/* Sobre o Barbeiro pag */

#sobre_barbeiro h1 {

    /* Centraliza o texto "SOBRE O BARBEIRO" */
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700; /* Texto em negrito */
    background-color: rgba(24, 24, 24, 0.8);
    margin: 0;
}

/* texto sobre o barbeiro */
#sobre_barbeiro p {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    padding: 15px; 
    background-color: rgba(24, 24, 24, 0.8);
    color: #ffffff;
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Times New Roman', Times, serif;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 5pc;
}

.sobre-conteudo img {
    max-width: 400px; /* Define o tamanho máximo da imagem */
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    border-radius: 10px; /* Bordas arredondadas na imagem */
}

.sobre_texto {
    max-width: 810px; /* Limita a largura do texto */
}

/* |---------------------6.Grid e Itens / Agendamento de servicos-------------------------------| */

#servicos h1 {
    /* Centraliza o texto "AGENDE UM SERVICO" */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700; /* Texto em negrito */
    color: #e0e0e0;
    background-color: rgba(24, 24, 24, 0.8);
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    gap: 30px; /* Espaçamento entre os itens */
    padding: 20px;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;

    max-width: 200px;  /* Ajuste a largura máxima */
    max-height: 200px; /* Ajuste a altura máxima, se necessário */
    margin-left: 130px;
    
}

/* Efeito de elevação ao passar o mouse */
.grid-item:hover {
    transform: translateY(-5px); 
    background-color: #e0e0e0;

}
/* Largura e Altura dos Icones */
.grid-item img {
    width: 50px; /* Largura */
    height: 50px; /* Altura */
    margin-bottom: 10px;
    
}
/* Escrita dos servicos */
.grid-item span {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

/* Estilos para a modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 90%;
    width: 70%;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close:hover {
    color: #000;
  }

  .reservar-btn {
    display: block;
    margin: auto; /* Centraliza o botão */
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aaaaaa; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reservar-btn:hover {
    background-color: #45a049; /* Efeito hover */
  }
/* |---------------------7.Imagens e Outros Estilos--------------------| */

div img {
    margin-left: 10px;
    transition: transform 0.2s;
}

div img:hover {
    transform: scale(1.1);
}

/* |---------------------footer--------------------| */

footer {
    background-color: #333; /* Fundo escuro */
    color: white; /* Texto branco */
    padding: 20px 0; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo */
}

footer{
    background-color: black;
    margin-top: 50px;
    
}
.footer-container {
    
    display: flex; /* Usa Flexbox */
    justify-content: space-around; /* Espaça os itens igualmente */
    align-items: center; /* Alinha verticalmente */
    max-width: 2000px; /* Limite de largura */
    margin: 0 auto; /* Centraliza o container */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
    height: 170px;
    font-family: 'Times New Roman', Times, serif;
    
}

.footer-logo img {
    width: 250px; /* Define o tamanho da logo */
}

.footer-icons a {
    margin: 0 10px; /* Espaço entre os ícones */
}

.footer-icons img {
    width: 40px; /* Define o tamanho dos ícones */
    height: 40px; /* Tamanho dos ícones */
    transition: transform 0.3s ease; /* Animação suave no hover */
}


.footer-hours p {
    height: 70px;
    margin: 5px 0; /* Espaçamento vertical entre as linhas de texto */
    font-size: 14px; /* Tamanho do texto */
}

#redes h5{
    text-align: center;
    margin-left: 19px;
}